.heading
{
    width: 100%;
    text-align: left;
}

.heading h3
{
    display: inline;
}

.heading button
{
    float: right;
    border: 1px solid white;
}

h4
{
    background-color: #f5f5f5;
    line-height: 2;
    float: bottom;
    position: fixed;
    margin: 0px;
    width: 100%;
}

canvas
{
    border:2px solid white;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 5px 10px 18px white;   
}